# Problem Definition

For this project I will investigate NFL combine data to see if it has any predictive value of when a player will be drafted in the NFL draft.  

#### Data: 
The Combine results and draft orders were collected from http://www.nflsavant.com/about.php
Along with the players height and weight, the data include the following Combine measurements:

#### fortyyd: 
The 40-yard dash drill is designed to test one’s acceleration and speed. Electronic device is used to measure time to one-hundredth of a second. The athlete sprints from the starting line and runs straight as fast as he could until he passes the completion mark placed at 40-yard.

#### vertical: 
The vertical jump drill measures one’s leg strength and explosiveness. The athlete positions himself under the vanes of Vertec, then jumps straight up by first lowering his body and then pushing against the ground using only his leg strength. While up in the air, the athlete hits the highest vane possible with one of his hands. The measurement is the height of the highest vane subtracted by his standing reach.

#### bench: 
This drill is a good measure of one’s upper body strength. The athlete completes as many bench press repetitions as possible.

#### broad: 
This drill measures one’s lower body strength. The athlete positions himself behind the marked line, then once he is set, jumps horizontally off from both feet. The distance jumped is measured from the start line and to the point of heel contact or to the nearest body part.

#### threecone: 
The 3-cone drill measures one’s agility and ability to change directions. The cones placed in the formation of an upside-down ‘L.’ The athlete starts in three-point stance at cone 1 and runs straight ahead for 5 yards to reach cone 2 and then immediately returns to cone 1. Without stopping, he changes direction and sprints and corners cone 2, and then move right away to cone 3, which is place 5 yards lateral to cone 2. He approaches the inside of cone 3, goes around it, returns and corners cone 2, and then completes the drill by sprinting past cone 1.

#### twentyss:
This drill is designed to measure one’s speed and body control. The athlete starts in a three-point stance sprints 5 yards in one direction, quickly changes direction and runs 10 yards in the other direction, and then sprints back to the starting point.

#### picktotal: 
A draft order of a player is a specific number assigned to each player. Someone with a lower number of draft order is considered to be more valuable than others with higher numbers. Numbers can vary from 1 to 256.

# Load the Dataset

Start off by loading the libraries required for this project:

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from numpy import arange
from pandas import read_csv
from pandas import set_option
import seaborn as sns

In [2]:
from matplotlib import rcParams
rcParams['figure.figsize'] = 10, 8
sns.set_context("poster")
sns.set_style("whitegrid")

In [3]:
# Downloaded combine csv to my desktop, therefore change directory to my pc desktop
os.chdir('C:\Users\chads\Desktop')

In [4]:
# Import and preview the raw combine data
combine = pd.read_csv("combine.csv")
combine.head()

,year,name,firstname,lastname,position,heightfeet,heightinches,heightinchestotal,weight,arms,...,vertical,broad,bench,round,college,pick,pickround,picktotal,wonderlic,nflgrade
0,2015,Ameer Abdullah,Ameer,Abdullah,RB,5,9.0,69.0,205,0.0,...,42.5,130,24,0,Nebraska,NaN,0,0,0,5.9
1,2015,Nelson Agholor,Nelson,Agholor,WR,6,0.0,72.0,198,0.0,...,0.0,0,12,0,USC,NaN,0,0,0,5.6
2,2015,Jay Ajayi,Jay,Ajayi,RB,6,0.0,72.0,221,0.0,...,39.0,121,19,0,Boise St.,NaN,0,0,0,6.0
3,2015,Kwon Alexander,Kwon,Alexander,OLB,6,1.0,73.0,227,0.0,...,36.0,121,24,0,LSU,NaN,0,0,0,5.4
4,2015,Mario Alford,Mario,Alford,WR,5,8.0,68.0,180,0.0,...,34.0,121,13,0,West Virginia,NaN,0,0,0,5.3

# Data Wrangling

We have 4947 players with 26 attributes

In [5]:
# Shape
combine.shape

(4947, 26)

Drop insignificant and redundant columns

In [6]:
nfl = (combine.drop(['firstname','lastname','heightfeet','heightinches','pick','pickround'],axis=1))
nfl.shape

(4947, 20)

Check data type

In [7]:
# checking column data types and 0 values are considered non-null which needs to be changed
nfl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4947 entries, 0 to 4946
Data columns (total 20 columns):
year                 4947 non-null int64
name                 4947 non-null object
position             4947 non-null object
heightinchestotal    4947 non-null float64
weight               4947 non-null int64
arms                 4947 non-null float64
hands                4947 non-null float64
fortyyd              4947 non-null float64
twentyyd             4946 non-null float64
tenyd                4945 non-null float64
twentyss             4947 non-null float64
threecone            4947 non-null float64
vertical             4947 non-null float64
broad                4947 non-null int64
bench                4947 non-null int64
round                4947 non-null int64
college              3477 non-null object
picktotal            4947 non-null int64
wonderlic            4947 non-null int64
nflgrade             4947 non-null float64
dtypes: float64(10), int64(7), object(3)
memory usage: 773.0+ KB

Find the percentage of missing values in certain columns

In [8]:
# Percentage of amount of rows are 0.0 in arms column
arm = nfl["arms"].value_counts().nlargest()
arm_0 = arm.iloc[0]
arm_perc= round(arm_0 / float(len(nfl))*100,2)

# Percentage of rows that are 0.0 in hands column
hand = nfl["hands"].value_counts().nlargest()
hand_0 = hand.iloc[0]
hand_perc= round(hand_0 / float(len(nfl))*100,2)

# Percentage of rows that are 0.0 in the twentyyd column
twenty = nfl["twentyyd"].value_counts().nlargest()
twenty_0 = twenty.iloc[0]
twenty_perc= round(twenty_0 / float(len(nfl))*100,2)

# Percentage of missing data that is 0.0 in the tenyd column
ten = nfl["tenyd"].value_counts().nlargest()
ten_0 = ten.iloc[0]
ten_perc= round(ten_0 / float(len(nfl))*100,2)

# Percentage of missing data that is 0.0 in the wonderlic column
wonderlic = nfl["wonderlic"].value_counts().nlargest()
wonderlic_0 = wonderlic.iloc[0]
wonderlic_perc= round(wonderlic_0 / float(len(nfl))*100,2)

print "Percentage of column arms with missing values: ",arm_perc,'%'
print "Percentage of column hands with missing values: ",hand_perc,'%'
print "Percentage of column twentyyd with missing values: ",twenty_perc,'%'
print "Percentage of column tenyd with missing values: ",ten_perc,'%'
print "Percentage of column wonderlic with missing values: ",wonderlic_perc,'%'

Percentage of column arms with missing values:  76.49 %
Percentage of column hands with missing values:  76.47 %
Percentage of column twentyyd with missing values:  97.15 %
Percentage of column tenyd with missing values:  91.89 %
Percentage of column wonderlic with missing values:  95.51 %

Drop more columns that contain a lot of missing values

In [9]:
# Drop columns with a high percentage of missing values
nfl = (nfl.drop(['arms','hands','twentyyd','tenyd','wonderlic'],axis=1))
nfl.shape

(4947, 15)

Find the amount of missing values for attributes that are more common and found to be more important for coaches. Threecone has a lot of missing values, but will keep it for now...

In [10]:
# Percentage of rows that are 0.0 in the fortyyd column
forty = nfl["fortyyd"].value_counts().nlargest()
forty_0 = forty.iloc[0]
forty_perc= round(forty_0 / float(len(nfl))*100,2)

# Percentage of rows that are 0.0 in the twentyss column
twentyss = nfl["twentyss"].value_counts().nlargest()
twentyss_0 = twentyss.iloc[0]
twenty_perc= round(twentyss_0 / float(len(nfl))*100,2)

# Percentage of rows that are 0.0 in the threecone column
three = nfl["threecone"].value_counts().nlargest()
three_0 = three.iloc[0]
three_perc= round(three_0 / float(len(nfl))*100,2)

# Percentage of rows that are 0.0 in the vertical column
vert = nfl["vertical"].value_counts().nlargest()
vert_0 = vert.iloc[0]
vert_perc= round(vert_0 / float(len(nfl))*100,2)

# Percentage of rows that are 0.0 in the broad column
broad = nfl["broad"].value_counts().nlargest()
broad_0 = broad.iloc[0]
broad_perc= round(broad_0 / float(len(nfl))*100,2)

# Percentage of rows that are 0.0 in the bench column
bench = nfl["bench"].value_counts().nlargest()
bench_0 = bench.iloc[0]
bench_perc= round(bench_0 / float(len(nfl))*100,2)

print "Percentage of column fortyyd with missing values: ",forty_perc,'%'
print "Percentage of column twentyss with missing values: ",twenty_perc,'%'
print "Percentage of column threecone with missing values: ",three_perc,'%'
print "Percentage of column vertical with missing values: ",vert_perc,'%'
print "Percentage of column broad with missing values: ",broad_perc,'%'
print "Percentage of column bench with missing values: ",bench_perc,'%'

Percentage of column fortyyd with missing values:  3.86 %
Percentage of column twentyss with missing values:  24.78 %
Percentage of column threecone with missing values:  79.1 %
Percentage of column vertical with missing values:  12.57 %
Percentage of column broad with missing values:  15.4 %
Percentage of column bench with missing values:  26.18 %

Taking a peak at the amount of players at each position, with wide receiver (WR) being the most common position

In [11]:
# Count the number of players in each position
nfl["position"].value_counts()

WR     631
CB     490
RB     455
DE     415
OT     390
DT     370
OLB    364
OG     330
QB     304
TE     291
ILB    225
FS     211
SS     184
OC     132
FB     102
C       21
P       12
K        9
NT       9
LS       2
Name: position, dtype: int64

Some positions were classified at more than 1 value, so would change it to be only one class per position. Eliminated players at certain positions that were either not common or not very interesting

In [12]:
# OC and C BOTH represent the center position. 
# Instead of having 2 different values for the same position, now their is one by replacing OC with C
nfl.replace(['OC'], ['C'], inplace=True)

# No interest in analyzing long snappers
nfl = nfl[nfl.position != 'LS']

# No interest in analyzing kickers
nfl = nfl[nfl.position != 'K']

# No interest in analyzing punters
nfl = nfl[nfl.position != 'P']

# No interest in analyzing fullbacks
nfl = nfl[nfl.position != 'FB']

# NT and DT are pretty much the same thing so will replace the NT value to DT
# FS and SS are pretty much the same thing so will rename both to S
nfl.replace(['NT', 'FS', 'SS'], ['DT', 'S', 'S'], inplace=True)

nfl["position"].value_counts()

WR     631
CB     490
RB     455
DE     415
S      395
OT     390
DT     379
OLB    364
OG     330
QB     304
TE     291
ILB    225
C      153
Name: position, dtype: int64

Replace 0 values with NaN, so zeros won't be included in calculations

In [13]:
# Replace all 0 values with NaN, so calculations will exclude NaN values.
nflnan = nfl.replace(0.00, np.NaN)
nflnan.head(1)

,year,name,position,heightinchestotal,weight,fortyyd,twentyss,threecone,vertical,broad,bench,round,college,picktotal,nflgrade
0,2015,Ameer Abdullah,RB,69.0,205,4.6,3.95,6.79,42.5,130.0,24.0,NaN,Nebraska,NaN,5.9

Check to make sure some players don't have the same name and if so, will change so elimate duplicate names. As you can see, there are duplicate names

In [14]:
# check to see if any players have the same name
dp = nflnan.groupby(["name","year"]).size().sort_values(ascending=False)
dp.head(6)
# Appears some do have the same name

name             year
Derrick Johnson  2005    2
Brandon Moore    2002    2
Kevin White      2015    2
Alex Smith       2005    2
Ben Obomanu      2006    2
Ziggy Ansah      2013    1
dtype: int64

In [15]:
# players with duplicate names, one will have _dp at the end of their name in order to avoid duplication
nflnan.name = nflnan.name.where(~nflnan.name.duplicated(), nflnan.name + '_dp')

In [16]:
# check to make sure no more duplicate players
no_dup = nflnan.groupby(["name","year"]).size().sort_values(ascending=False)
no_dup.head(6)

name             year
Ziggy Ansah      2013    1
Duke Ihenacho    2012    1
Duke Preston     2005    1
Duke Robinson    2009    1
Dunta Robinson   2004    1
Durell Eskridge  2015    1
dtype: int64

In [17]:
# there were originally 2 Brandon Moore's in the name column. Check to make sure there is only one
nflnan.loc[nflnan['name'] == 'Brandon Moore']

,year,name,position,heightinchestotal,weight,fortyyd,twentyss,threecone,vertical,broad,bench,round,college,picktotal,nflgrade
3957,2002,Brandon Moore,DT,75.0,293,5.26,4.64,NaN,25.5,96.0,32.0,NaN,NaN,NaN,NaN

In [18]:
# checking to make sure the other Brandon Moore was assigned _dp, to make him unique from the one in the cell above
nflnan.loc[nflnan['name'] == 'Brandon Moore_dp']

,year,name,position,heightinchestotal,weight,fortyyd,twentyss,threecone,vertical,broad,bench,round,college,picktotal,nflgrade
3958,2002,Brandon Moore_dp,OLB,73.0,239,4.61,NaN,NaN,36.5,113.0,23.0,NaN,NaN,NaN,NaN

One issue with this data set is that it did not have any information of when the players were drafted in 2015. Found another dataset from https://www.kaggle.com/rwexler/eda-for-nfl-draft-outcomes-data/data which provided this information.

Load second data set

In [19]:
# nflnan dataframe has nan values for columns round and picktotal in year 2015
# draft dataframe has round and picktotal information for year 2015 
# Import and preview the raw nfl_draft data
draft = pd.read_csv("nfl_draft.csv")
draft.head()

,Player_Id,Year,Rnd,Pick,Tm,Player,Pos,Position Standard,First4AV,Age,...,Rush_Yds,Rush_TDs,Rec,Rec_Yds,Rec_Tds,Tkl,Def_Int,Sk,College/Univ,Unnamed: 32
0,WinsJa00,2015,1.0,1,TAM,Jameis Winston,QB,QB,13,21.0,...,311.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,Florida St.,NaN
1,MariMa01,2015,1.0,2,TEN,Marcus Mariota,QB,QB,9,21.0,...,516.0,4.0,1.0,41.0,1.0,NaN,NaN,NaN,Oregon,NaN
2,FowlDa00,2015,1.0,3,JAX,Dante Fowler,OLB,LB,0,21.0,...,NaN,NaN,NaN,NaN,NaN,16.0,NaN,2.5,Florida,NaN
3,CoopAm00,2015,1.0,4,OAK,Amari Cooper,WR,WR,9,21.0,...,-3.0,0.0,134.0,1970.0,9.0,NaN,NaN,NaN,Alabama,NaN
4,ScheBr00,2015,1.0,5,WAS,Brandon Scherff,T,T,7,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Iowa,NaN

In [20]:
list(draft.columns.values)

['Player_Id',
 'Year',
 'Rnd',
 'Pick',
 'Tm',
 'Player',
 'Pos',
 'Position Standard',
 'First4AV',
 'Age',
 'To',
 'AP1',
 'PB',
 'St',
 'CarAV',
 'DrAV',
 'G',
 'Cmp',
 'Pass_Att',
 'Pass_Yds',
 'Pass_TD',
 'Pass_Int',
 'Rush_Att',
 'Rush_Yds',
 'Rush_TDs',
 'Rec',
 'Rec_Yds',
 'Rec_Tds',
 'Tkl',
 'Def_Int',
 'Sk',
 'College/Univ',
 'Unnamed: 32']

Renamed some columns to be the same names as our first data set. Dropped unimportant and redundant columns. Dropped players that were not in the years 1999-2015, since our first data set only has data on players during that timeframe.

In [21]:
# Rename some column headers to match column headers of combine dataframe
draft = draft.rename(columns={'Player': 'name','Year': 'year','Rnd': 'round','Pick': 'picktotal'})

# Drop insignificant or redundant columns
draft1 = (draft.drop(['Player_Id','Tm','Pos','Position Standard','First4AV','To','AP1','PB','St',
                     'CarAV','DrAV','G','Unnamed: 32'],axis=1))

# Only include years 1999-2015 in draft2 dataframe, since these are the only years in nflnan dataframe
draft2 = (draft1[draft["year"] >= 1999])

draft2.year.value_counts()

2003    262
2002    261
2014    256
2009    256
2015    256
2010    255
2006    255
2007    255
2005    255
2004    255
2011    254
2013    254
2000    254
1999    253
2012    253
2008    252
2001    246
Name: year, dtype: int64

Looking for duplicate players in the second data set

In [22]:
# checking to see if draft2 dataframe has players with the same name
dup2 = draft2.groupby(["name","year"]).size().sort_values(ascending=False)
dup2.head()

name             year
Alex Smith       2005    2
Derrick Johnson  2005    2
Robert Griffin   2012    2
E.J. Whitley     2006    1
Dwight Smith     2001    1
dtype: int64

Duplicate names will be changed, so all players have a unique name. This is important so later when I merge both datasets, there are no issues

In [23]:
# players with same name in draft2 dataframe, one will have _dp at the end of their name to avoid duplication
draft2.name = draft2.name.where(~draft2.name.duplicated(), draft2.name + '_dp')

# No more duplicate names
_=no_dup2 = draft2.groupby(["name","year"]).size().sort_values(ascending=False)
no_dup2.head()

C:\Users\chads\Anaconda2\lib\site-packages\pandas\core\generic.py:3110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

name           year
Zuriel Smith   2003    1
Dwight Lowery  2008    1
Earl Wolff     2013    1
Earl Watford   2013    1
Earl Thomas    2010    1
dtype: int64

In [24]:
# draft2 dataframe had 2 Alex Smith's, checking there is now only one
draft2.loc[draft2['name'] == 'Alex Smith']

,year,round,picktotal,name,Age,Cmp,Pass_Att,Pass_Yds,Pass_TD,Pass_Int,Rush_Att,Rush_Yds,Rush_TDs,Rec,Rec_Yds,Rec_Tds,Tkl,Def_Int,Sk,College/Univ
2546,2005,1.0,1,Alex Smith,21.0,2411.0,3921.0,26421.0,151.0,87.0,446.0,1998.0,10.0,2.0,-10.0,0.0,9.0,NaN,NaN,Utah

In [25]:
# Making sure the other Alex Smith is now Alex Smith_dp
draft2.loc[draft2['name'] == 'Alex Smith_dp']

,year,round,picktotal,name,Age,Cmp,Pass_Att,Pass_Yds,Pass_TD,Pass_Int,Rush_Att,Rush_Yds,Rush_TDs,Rec,Rec_Yds,Rec_Tds,Tkl,Def_Int,Sk,College/Univ
2616,2005,3.0,71,Alex Smith_dp,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,163.0,1473.0,13.0,12.0,NaN,NaN,Stanford

Merge both data sets by doing a left merge and using name and year as the keys. Successful merge! :)

In [26]:
# left merge of dataframes nflnan and draft2 using name and year as keys to create new dataframe i
i = pd.merge(nflnan, draft2, how = 'left', on=['name','year'])
i.shape

(4822, 33)

Making sure no duplicate names in our new, merged data set. No duplicates, success!

In [27]:
# Check for no duplicate names in merged dataframe
_=no_dupi = i.groupby(["name","year"]).size().sort_values(ascending=False)
no_dupi.head()

name            year
Ziggy Ansah     2013    1
Duke Ihenacho   2012    1
Duke Preston    2005    1
Duke Robinson   2009    1
Dunta Robinson  2004    1
dtype: int64

Peaking at the column headers, to get an idea of what columns I need to drop

In [28]:
# i dataframe column headers
i.columns

Index([u'year', u'name', u'position', u'heightinchestotal', u'weight',
       u'fortyyd', u'twentyss', u'threecone', u'vertical', u'broad', u'bench',
       u'round_x', u'college', u'picktotal_x', u'nflgrade', u'round_y',
       u'picktotal_y', u'Age', u'Cmp', u'Pass_Att', u'Pass_Yds', u'Pass_TD',
       u'Pass_Int', u'Rush_Att', u'Rush_Yds', u'Rush_TDs', u'Rec', u'Rec_Yds',
       u'Rec_Tds', u'Tkl', u'Def_Int', u'Sk', u'College/Univ'],
      dtype='object')

Drop more insignificant columns and changed some of the names

In [29]:
# drop insignificant or redundant columns from newdf dataframe
newdf = (i.drop(['nflgrade','round_x','picktotal_x','Cmp','Pass_Att','Pass_Yds','Pass_TD','Pass_Int','Rush_Att',
                'Rush_Yds','Rush_TDs','Rec','Rec_Yds','Rec_Tds','Tkl','Def_Int','Sk','Age','college','College/Univ',
                 'round_y'],axis=1))

# rename column header in newdf dataframe
newdf = newdf.rename(columns={'picktotal_y': 'picktotal', 'heightinchestotal': 'height'})
list(newdf.columns.values)

['year',
 'name',
 'position',
 'height',
 'weight',
 'fortyyd',
 'twentyss',
 'threecone',
 'vertical',
 'broad',
 'bench',
 'picktotal']

Check to see if players from 2015 now have values in column picktotal. Success!

In [30]:
# nflnan dataframe did not have any values for column picktotal for all 2015 players
# after the merge, now all 2015 players that were drafted have a value in column picktotal
newdf1 = newdf[['year','name','picktotal']]
newdf1.head(10)

   year                   name  picktotal
0  2015         Ameer Abdullah       54.0
1  2015         Nelson Agholor       20.0
2  2015              Jay Ajayi      149.0
3  2015         Kwon Alexander      124.0
4  2015           Mario Alford      238.0
5  2015         Javorius Allen      125.0
6  2015            Adrian Amos      142.0
7  2015          Dres Anderson        NaN
8  2015         Henry Anderson       93.0
9  2015  Rory 'Busta' Anderson      254.0

With the 2 data sets, successfully merged, no longer need the player names or years, hence dropped those columns

In [31]:
# column year no longer needed and not significant or relevant for this study, therefore will drop it
newdf2= (newdf.drop(['year','name'],axis=1))
list(newdf2.columns.values)

['position',
 'height',
 'weight',
 'fortyyd',
 'twentyss',
 'threecone',
 'vertical',
 'broad',
 'bench',
 'picktotal']

For this study, we are only analyzing players that were drafted by NFL teams, therefore will drop players from the data set who never got drafted. Finally, we have a data set that is ready to be analyzed!

In [32]:
# Drop players who never got drafted by an NFL team
newdf = newdf2[np.isfinite(newdf2['picktotal'])]
newdf.shape

(3133, 10)

In [33]:
# Print first few rows of new data set to take a look at it
newdf.head()

,position,height,weight,fortyyd,twentyss,threecone,vertical,broad,bench,picktotal
0,RB,69.0,205,4.60,3.95,6.79,42.5,130.0,24.0,54.0
1,WR,72.0,198,4.42,NaN,NaN,NaN,NaN,12.0,20.0
2,RB,72.0,221,4.57,4.10,7.10,39.0,121.0,19.0,149.0
3,OLB,73.0,227,4.55,4.20,7.14,36.0,121.0,24.0,124.0
4,WR,68.0,180,4.43,4.07,6.64,34.0,121.0,13.0,238.0

Export datasets for other sections

In [34]:
newdf.to_csv('newdf.csv', index=False)

In [35]:
newdf2.to_csv('newdf2.csv', index=False)

Check out the next section Exploratory Data Analysis..